[Unit]
After=warp-svc.service
Requires=warp-svc.service

[Service]
Type=oneshot

; rip dtaht
;ExecStart=/usr/sbin/tc qdisc replace dev eth0 root fq_codel

; add SNAT rules
ExecStart=/bin/sh -c '\
  for i in $(seq 1 60); do \
    nft list table inet cloudflare-warp >/dev/null 2>&1 && break; \
    sleep 1; \
  done; \
  nft -f /etc/sysconfig/nftables.conf \
'

; increase tunnel MTU
ExecStart=/bin/sh -c '\
  ip monitor link | while read -r line; do \
    CUR=$(cat /sys/class/net/CloudflareWARP/mtu 2>/dev/null) || continue; \
    [ "$CUR" = "1280" ] || continue; \
    ip link set CloudflareWARP mtu 1340; \
  done \
'

[Install]
WantedBy=multi-user.target
